
$main: #373742
// $main: #b14261
\:local(.Calculator)
  margin: 0 auto
  position: relative
  // box-sizing: content-box
  width: 510px
  height: 860px
  padding: 30px 15px
  &:before
    content: ''
    @include abs-box
    background-color: #e4eaeb
    @extend %noise
    filter: contrast(130%)
    box-shadow: inset rgba(8, 8, 8, 0.23) 0 0 2px 2px,
    inset rgba(173, 180, 190, 0.62) -24px 0 2px 0px,
    inset rgba(173, 180, 190, 0.62) 24px 0 2px 0px,
    inset rgba(154, 156, 158, 0.32) 0 -24px 2px 0px,
    rgba(0, 0, 0, 0.09) 7px 0px 11px 5px,
    rgba(0, 0, 0, 0.22) 8px 25px 11px 5px,
    rgba(0, 0, 0, 0.23) 70px 56px 51px 5px,
    rgba(0, 0, 0, 0.25) 80px 57px 50px 1px,
    rgba(0, 0, 0, 0.42) 5px 77px 30px -11px,
    inset rgba(0, 0, 0, 0.19) 0px 0px 0px 3px
    // inset rgba(#080808, 0.38) 0 0 2px 2px,
    // inset rgba(#adb4be, 0.62) -24px 0 2px 0px,
    // inset rgba(#adb4be, 0.62) 24px 0 2px 0px,
    // inset rgba(#9a9c9e, 0.32) 0 -24px 2px 0px
    // inset rgba($black, 0.12) 0 1px 1px 3px,
    // inset rgba(#919ea0, 0.29) 0 7px 5px 0px,
    // inset #e4e4e4 0 14px 20px 0px


    border-radius: 0 0 44px 44px

  ::selection
    background: transparent
  .buttonRow
    padding: 0 14px;
  .header
    position: absolute

  .solarPanel
    height: 91px
  .slogan
    position: absolute
