// Font Faces

// @font-face
//   font-family: 'Open Sans'
//   src: url('./config/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
//   url('./config/fonts/OpenSans-SemiBold.woff') format('woff'),
//   url('./config/fonts/OpenSans-SemiBold.ttf')  format('truetype'),
//   url('./config/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg')
//   font-style: normal
//   font-weight: 400

@font-face
  font-family: 'Calculator'
  src: url('./config/fonts/OpenSans-Calculator.eot?#iefix') format('embedded-opentype'),
  url('./config/fonts/OpenSans-Calculator.woff') format('woff'),
  url('./config/fonts/OpenSans-Calculator.ttf')  format('truetype'),
  url('./config/fonts/OpenSans-Calculator.svg#OpenSans-Calculator') format('svg')
  font-style: normal
  font-weight: 400
