$_ICON_MAP: (
  activity: '\e900',
  airplay: '\e901',
  alert-circle: '\e902',
  alert-octagon: '\e903',
  alert-triangle: '\e904',
  align-center: '\e905',
  align-justify: '\e906',
  align-left: '\e907',
  align-right: '\e908',
  anchor: '\e909',
  aperture: '\e90a',
  archive: '\e90b',
  arrow-down: '\e90c',
  arrow-down-circle: '\e90d',
  arrow-down-left: '\e90e',
  arrow-down-right: '\e90f',
  arrow-left: '\e910',
  arrow-left-circle: '\e911',
  arrow-right: '\e912',
  arrow-right-circle: '\e913',
  arrow-up: '\e914',
  arrow-up-circle: '\e915',
  arrow-up-left: '\e916',
  arrow-up-right: '\e917',
  at-sign: '\e918',
  award: '\e919',
  bar-chart: '\e91a',
  bar-chart-2: '\e91b',
  battery: '\e91c',
  battery-charging: '\e91d',
  bell: '\e91e',
  bell-off: '\e91f',
  bluetooth: '\e920',
  bold: '\e921',
  book: '\e922',
  book-open: '\e923',
  bookmark: '\e924',
  box: '\e925',
  briefcase: '\e926',
  calendar: '\e927',
  camera: '\e928',
  camera-off: '\e929',
  cast: '\e92a',
  check: '\e92b',
  check-circle: '\e92c',
  check-square: '\e92d',
  chevron-down: '\e92e',
  chevron-left: '\e92f',
  chevron-right: '\e930',
  chevron-up: '\e931',
  chevrons-down: '\e932',
  chevrons-left: '\e933',
  chevrons-right: '\e934',
  chevrons-up: '\e935',
  chrome: '\e936',
  circle: '\e937',
  clipboard: '\e938',
  clock: '\e939',
  cloud: '\e93a',
  cloud-drizzle: '\e93b',
  cloud-lightning: '\e93c',
  cloud-off: '\e93d',
  cloud-rain: '\e93e',
  cloud-snow: '\e93f',
  code: '\e940',
  codepen: '\e941',
  command: '\e942',
  compass: '\e943',
  copy: '\e944',
  corner-down-left: '\e945',
  corner-down-right: '\e946',
  corner-left-down: '\e947',
  corner-left-up: '\e948',
  corner-right-down: '\e949',
  corner-right-up: '\e94a',
  corner-up-left: '\e94b',
  corner-up-right: '\e94c',
  cpu: '\e94d',
  credit-card: '\e94e',
  crop: '\e94f',
  crosshair: '\e950',
  database: '\e951',
  delete: '\e952',
  disc: '\e953',
  dollar-sign: '\e954',
  download: '\e955',
  download-cloud: '\e956',
  droplet: '\e957',
  edit-2: '\e958',
  edit: '\e959',
  edit-3: '\e95a',
  external-link: '\e95b',
  eye: '\e95c',
  eye-off: '\e95d',
  facebook: '\e95e',
  fast-forward: '\e95f',
  feather: '\e960',
  file: '\e961',
  file-minus: '\e962',
  file-plus: '\e963',
  file-text: '\e964',
  film: '\e965',
  filter: '\e966',
  flag: '\e967',
  folder: '\e968',
  folder-minus: '\e969',
  folder-plus: '\e96a',
  gift: '\e96b',
  git-branch: '\e96c',
  git-commit: '\e96d',
  git-merge: '\e96e',
  git-pull-request: '\e96f',
  github: '\e970',
  gitlab: '\e971',
  globe: '\e972',
  grid: '\e973',
  hard-drive: '\e974',
  hash: '\e975',
  headphones: '\e976',
  heart: '\e977',
  help-circle: '\e978',
  help: '\ea0a',
  home: '\e979',
  image: '\e97a',
  inbox: '\e97b',
  info: '\e97c',
  instagram: '\e97d',
  italic: '\e97e',
  layers: '\e97f',
  layout: '\e980',
  life-buoy: '\e981',
  link: '\e982',
  link-2: '\e983',
  linkedin: '\e984',
  list: '\e985',
  loader: '\e986',
  lock: '\e987',
  log-in: '\e988',
  log-out: '\e989',
  mail: '\e98a',
  map: '\e98b',
  map-pin: '\e98c',
  maximize: '\e98d',
  maximize-2: '\e98e',
  menu: '\e98f',
  message-circle: '\e990',
  message-square: '\e991',
  mic: '\e992',
  mic-off: '\e993',
  minimize: '\e994',
  minimize-2: '\e995',
  minus: '\e996',
  minus-circle: '\e997',
  minus-square: '\e998',
  monitor: '\e999',
  moon: '\e99a',
  more-horizontal: '\e99b',
  more-vertical: '\e99c',
  move: '\e99d',
  music: '\e99e',
  navigation: '\e99f',
  navigation-2: '\e9a0',
  octagon: '\e9a1',
  package: '\e9a2',
  paperclip: '\e9a3',
  pause: '\e9a4',
  pause-circle: '\e9a5',
  percent: '\e9a6',
  phone: '\e9a7',
  phone-call: '\e9a8',
  phone-forwarded: '\e9a9',
  phone-incoming: '\e9aa',
  phone-missed: '\e9ab',
  phone-off: '\e9ac',
  phone-outgoing: '\e9ad',
  pie-chart: '\e9ae',
  play: '\e9af',
  play-circle: '\e9b0',
  plus: '\e9b1',
  plus-circle: '\e9b2',
  plus-square: '\e9b3',
  pocket: '\e9b4',
  power: '\e9b5',
  printer: '\e9b6',
  radio: '\e9b7',
  refresh-ccw: '\e9b8',
  refresh-cw: '\e9b9',
  repeat: '\e9ba',
  rewind: '\e9bb',
  rotate-ccw: '\e9bc',
  rotate-cw: '\e9bd',
  rss: '\e9be',
  save: '\e9bf',
  scissors: '\e9c0',
  search: '\e9c1',
  send: '\e9c2',
  server: '\e9c3',
  settings: '\e9c4',
  share: '\e9c5',
  share-2: '\e9c6',
  shield: '\e9c7',
  shield-off: '\e9c8',
  shopping-bag: '\e9c9',
  shopping-cart: '\e9ca',
  shuffle: '\e9cb',
  sidebar: '\e9cc',
  skip-back: '\e9cd',
  skip-forward: '\e9ce',
  slack: '\e9cf',
  slash: '\e9d0',
  sliders: '\e9d1',
  smartphone: '\e9d2',
  speaker: '\e9d3',
  square: '\e9d4',
  star: '\e9d5',
  stop-circle: '\e9d6',
  sun: '\e9d7',
  sunrise: '\e9d8',
  sunset: '\e9d9',
  tablet: '\e9da',
  tag: '\e9db',
  target: '\e9dc',
  terminal: '\e9dd',
  thermometer: '\e9de',
  thumbs-down: '\e9df',
  thumbs-up: '\e9e0',
  toggle-left: '\e9e1',
  toggle-right: '\e9e2',
  trash: '\e9e3',
  trash-2: '\e9e4',
  trending-down: '\e9e5',
  trending-up: '\e9e6',
  triangle: '\e9e7',
  truck: '\e9e8',
  tv: '\e9e9',
  twitter: '\e9ea',
  type: '\e9eb',
  umbrella: '\e9ec',
  underline: '\e9ed',
  unlock: '\e9ee',
  upload: '\e9ef',
  upload-cloud: '\e9f0',
  user: '\e9f1',
  user-check: '\e9f2',
  user-minus: '\e9f3',
  user-plus: '\e9f4',
  user-x: '\e9f5',
  users: '\e9f6',
  video: '\e9f7',
  video-off: '\e9f8',
  voicemail: '\e9f9',
  volume: '\e9fa',
  volume-1: '\e9fb',
  volume-2: '\e9fc',
  volume-x: '\e9fd',
  watch: '\e9fe',
  wifi: '\e9ff',
  wifi-off: '\ea00',
  wind: '\ea01',
  x: '\ea02',
  x-circle: '\ea03',
  x-square: '\ea04',
  youtube: '\ea05',
  zap: '\ea06',
  zap-off: '\ea07',
  zoom-in: '\ea08',
  zoom-out: '\ea09'
);
