$_ICON_MAP: (
  percent: "\25",
  exclam: "\21",
  quotedbl: "\22",
  numbersign: "\23",
  dollar: "\24",
  ampersand: "\26",
  quotesingle: "\27",
  parenleft: "\28",
  parenright: "\29",
  shortplus: "\2b",
  plus: "\2020",
  comma: "\2c",
  hyphen: "\2d",
  dot: "\2e",
  slash: "\2f",
  zero: "\30",
  one: "\31",
  two: "\32",
  three: "\33",
  four: "\34",
  five: "\35",
  six: "\36",
  seven: "\37",
  eight: "\38",
  nine: "\39",
  colon: "\3a",
  semicolon: "\3b",
  less: "\3c",
  equal: "\3d",
  greater: "\3e",
  question: "\3f",
  at: "\40",
  A: "\41",
  B: "\42",
  C: "\43",
  D: "\44",
  E: "\45",
  F: "\46",
  G: "\47",
  H: "\48",
  I: "\49",
  J: "\4a",
  K: "\4b",
  L: "\4c",
  M: "\4d",
  N: "\4e",
  O: "\4f",
  P: "\50",
  Q: "\51",
  R: "\52",
  S: "\53",
  T: "\54",
  U: "\55",
  V: "\56",
  W: "\57",
  X: "\58",
  Y: "\59",
  Z: "\5a",
  bracketleft: "\5b",
  backslash: "\5c",
  bracketright: "\5d",
  asciicircum: "\5e",
  underscore: "\5f",
  grave: "\60",
  braceleft: "\7b",
  bar: "\7c",
  braceright: "\7d",
  asciitilde: "\7e",
  section: "\a7",
  logicalnot: "\ac",
  registered: "\ae",
  plusminus: "\b1",
  multiply: "\d7",
  divide: "\f7",
  florin: "\192",
  alpha: "\3b1",
  beta: "\3b2",
  gamma: "\3b3",
  delta: "\3b4",
  epsilon: "\3b5",
  zeta: "\3b6",
  eta: "\3b7",
  theta: "\3b8",
  iota: "\3b9",
  kappa: "\3ba",
  lambda: "\3bb",
  uni03BC: "\3bc",
  nu: "\3bd",
  xi: "\3be",
  omicron: "\3bf",
  pi: "\3c0",
  rho: "\3c1",
  sigma1: "\3c2",
  sigma: "\3c3",
  tau: "\3c4",
  upsilon: "\3c5",
  phi: "\3c6",
  chi: "\3c7",
  psi: "\3c8",
  omega: "\3c9",
  endash: "\2013",
  emdash: "\2014",
  minus: "\2015",
  perthousand: "\2030",
  afii61352: "\2116",
  trademark: "\2122",
  Omega: "\2126",
  estimated: "\212e",
  partialdiff: "\2202",
  Delta: "\2206",
  product: "\220f",
  summation: "\2211",
  shortminus: "\2212",
  root: "\221a",
  infinity: "\221e",
  integral: "\222b",
  approxequal: "\2248",
  notequal: "\2260",
  lessequal: "\2264",
  greaterequal: "\2265",
  zerosuperior: "\2070",
  foursuperior: "\2074",
  fivesuperior: "\2075",
  sixsuperior: "\2076",
  sevensuperior: "\2077",
  eightsuperior: "\2078",
  ninesuperior: "\2079",
  onepnum: "\e901",
  zeroos: "\e902",
  oneos: "\e903",
  twoos: "\e904",
  threeos: "\e905",
  fouros: "\e906",
  fiveos: "\e907",
  sixos: "\e908",
  sevenos: "\e909",
  eightos: "\e90a",
  nineos: "\e90b",
);
