\:local(.Comma)
  $color: $black;
  position: absolute
  width: 8px
  height: 17px
  bottom: 12px
  top: 11px
  transform: skew(-4deg)
  background: linear-gradient(-76deg, transparent 5px, #000 0px) top left
  background-size: 100%
  background-repeat: no-repeat
  background-repeat: no-repeat
  opacity: 0

  @for $i from 0 through 6
    &.comma-#{$i}
      right: 49 + 49*$i + px

  &.on
    opacity: 1
